{% extends 'main/layout.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dolore dolores ea impedit laboriosam libero officia tempora voluptas voluptatum!</p>
        <button class="btn btn-warning">Men haqimdagi saytga </button>



    </div>

{% endblock %}
<!--        {% for el in values %}-->
<!--            {% if el == 'Heloo' %}-->

<!--                <p>{{ el|upper }}</p>-->

<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--        {% for el in obj %}-->
<!--            <p>{{ el }}</p>-->
<!--        {% endfor %}-->